numpy
setuptools
hdf5storage
h5py
pyinstrument
matplotlib
scikit-image
scikit-learn
scipy
Pillow
imutils
pydot
imgaug
protobuf
torch
torchaudio
torchvision
tensorflow
fastapi
flask
uvicorn
streamlit

